@model TechJobs.ViewModels.NewJobViewModel

<form asp-controller="Job" asp-action="New" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployerID"></label>
        <select asp-for="EmployerID" asp-items="Model.Employers"></select>
    </div>
    <div class="form-group">
        <label asp-for="location"></label>
        <select asp-for="location" asp-items="Model.Locations"></select>
    </div>
    <div class="form-group">
        <label asp-for="coreCompetency"></label>
        <select asp-for="coreCompetency" asp-items="Model.CoreCompetencies"></select>
    </div>
    <div class="form-group">
        <label asp-for="positionType"></label>
        <select asp-for="positionType" asp-items="Model.PositionTypes"></select>
    </div>
    @{ 
        // DONEZO-TODO #5 - Create <select> dropdowns for other job fields (outside of this @{ } block)
    }

    <input type="submit" value="Add Job" />
</form>